body {
  background-color: #282828;
  color: #e2cca9;
  font-family: 'Arial', sans-serif;
}

.start {
  text-align: center;
  font-size: 125%;
  margin-bottom: 0px;
}

.sbelow {
  text-align: center;
  width: 90%;
  border-width: 0.5px;
  margin-top: 4px;
  border-color: #e9b143;
}

.orange {
  color: #f28534;
}

.aqua {
  color: #8bba7f
}

.green {
  color: #b0b846
}

.content {
  width: 90%;
  margin: auto;
}

.mspace {
  font-family: monospace;
}

.lesspace p {
  margin: 4px 0;
}

.image {
  transition: transform 0.2s ease;
}

.image.tap-animate {
  transform: scale(1.03);
}

.ordinary {
  color: #e2cca9;
  text-decoration: dotted;
}

.ordinary:visited {
  color: #e2cca9;
  text-decoration: dotted;
}

a {
  color: #80aa9e;
  text-decoration: none;
}

a:visited {
  color: #d3869b;
}



footer p{
  font-family: monospace;
  text-align: center;
  color: #928374;
}

form p {
  font-size: 90%;
}

input {
  outline: none;
  background-color: #32302f;
  color: #e2cca9;
  width: 100%;
  border: none;
  padding: 6px;
  box-sizing: border-box;
}

input#send {
  background-color: #45403d;
  width: 100%;
  margin: auto;
  margin-top: 2.5px;
}

input#send:hover {
  background-color: #5a524c;
}

textarea {
  outline: none;
  background-color: #32302f;
  color: #e2cca9;
  width: 100%;
  border: none;
  padding: 6px;
  resize: none;
  box-sizing: border-box;
}

@media (hover: hover) and (pointer: fine) {
  .image:hover {
    transform: scale(1.03);
  }
}