body {
  background-color: #32302f;
  color: #d4be98;
  font-family: 'Arial', sans-serif;
}

.start {
  text-align: center;
  font-size: 125%;
  margin-bottom: 0px;
}

.sbelow {
  text-align: center;
  width: 95%;
  border-width: 0.5px;
  margin-top: 4px;
  border-color: #d8a657;
}

.orange {
  color: #e78a4e;
}

.aqua {
  color: #89b482
}

.green {
  color: #a9b665
}

.content {
  width: 95%;
  margin: auto;
}

.mspace {
  font-family: monospace;
}

.lesspace p {
  margin: 4px 0;
}

.image {
  transition: transform 0.2s ease;
}

.image.tap-animate {
  transform: scale(1.015);
}

.ordinary {
  color: #e2cca9;
  text-decoration: dotted;
}

.ordinary:visited {
  color: #e2cca9;
  text-decoration: dotted;
}

.hint {
  margin-top: 10px; 
  margin-bottom: 0px; 
  color: #7c6f64; 
  font-style: italic; 
  font-size: small;
}

a {
  color: #7daea3;
  text-decoration: none;
}

a:visited {
  color: #d3869b;
}

p {
  font-family: 'Source Sans Pro',sans-serif;
}

footer p{
  font-family: monospace;
  text-align: center;
  color: #928374;
}

form p {
  font-size: 90%;
}

input {
  outline: none;
  background-color: #3c3836;
  color: #d4be98;
  width: 100%;
  border: none;
  padding: 6px;
  box-sizing: border-box;
}

input#send {
  background-color: #504945;
  width: 100%;
  margin: auto;
  margin-top: 2.5px;
}

input#send:hover {
  background-color: #5a524c;
}

textarea {
  outline: none;
  background-color: #3c3836;
  color: #d4be98;
  width: 100%;
  border: none;
  padding: 6px;
  resize: none;
  box-sizing: border-box;
  margin-top: 8px;
}

@media (hover: hover) and (pointer: fine) {
  .image:hover {
    transform: scale(1.01);
  }
}